.videoWrapper {
  height: 100vh;
  background-color: black;
  display: flex;
}

.playButton {
  filter: invert(1);
  margin: auto;
  width: 15%;
  height: auto;
}

@media (max-width: 700px) {
  .videoWrapper {
    height: auto;
  }
}
