.wrapper {
  display: grid;
  grid-template-columns: auto 300px;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.mainSite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mainButton {
  height: 150px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

a {
  text-decoration: none;
}
